*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: "Lucida Console", Monaco, monospace;
    color:rgb(233,237,239);
    transition:0.3s;
}
body{
    overflow-x: hidden;
    background: rgb(45,50,52);;
}
.sidebar{
    position:fixed;
    display:flex;
    flex-direction: column;
    height:100%;
    width:100px;
    background:rgb(0,0,15);
    z-index:1;
}
.sidebar a{
    flex:1;
    color:rgb(233,237,239);
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
}
.sidebar a:hover{
    background-color: rgb(0,70,122);
}
.sectionbox {
    margin-left: 100px;
    position: relative;
    background:rgb(45,50,52);
}
.section {
    height: 100vh;
}
.section .content{
    position: relative;
    padding:5%;
    z-index: 1;
}
#title{
    background:rgb(15,93,145);
    height:20vh;
    width:100vw;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    padding-top: 10px;
    z-index: 1;
}
#title h1{
    margin-left:1%;
    font-size:3vw;
    letter-spacing: 0.6vw;
}
#title p{
    margin-top:1%;
    margin-left:4%;
    font-size: 1.4vw;
}
#roster_guide{
    text-align: center;
    vertical-align: bottom;
    width: 100%;
    margin-top: 20px;
    padding-left: 4%;
}
#roster_legend{
    width:10px;
    background-color: rgb(61, 68, 70);
}
#roster_legend p{
    font-size: 15px;
    color: #999;
}
#roster_legend h3{
    font-size: 15px;
    color: #999;
}
#roster_container{
    background-color:aliceblue;
    margin-top: 10px;
    height: auto;
    display: flex;
    flex-direction: row;
}
.roster_box{
    flex: auto;
    text-align: center;
    vertical-align: middle;
    padding: 5px 5px 5px 5px;
}
.roster_box p{
    font-size: 20px;
    color: #777;
    margin-bottom: 5px;
}
.roster_box h3{
    font-size: 50px;
    color: black;
    height: 40%;
}
#ros_box_3 h3{
    font-size: 75px;
    color:darkcyan;
}
#ros_box_3 p{
    color: black;
}

@media (max-width:1025px) {
    .sidebar{
      width: 40px;
    }
    .sectionbox {
        margin-left: 40px;
        position: relative;
        background:rgb(45,50,52);
    }
    .sidebar a{
      writing-mode: vertical-lr;
    }
    .section{
      left:55px;
      height:110vh;
    }
    #title{
        background:rgb(15,93,145);
        transform: rotate(0deg);
        height:63vw;
        width:90vw;
        clip-path: polygon(0 0, 100% 0, 0 100%);
        z-index: 1;
    }
    #title h1{
        font-size: 12vw;
        width:50vw;
    }
    #title p{
      margin-top:1%;
      margin-bottom: 1%;
      font-size: 1.8vw;
    }
    .roster_body{
        display: flex;
        flex-direction: row;
    }
    #roster_container{
        flex-direction: column;
        width: 60vw;
    }
    #roster_guide{
        width: 30px;
        writing-mode:vertical-lr;
        margin-top: 0;
    }
    #roster_legend{
        visibility: hidden;
        height: 0;
    }
    #ros_box_5{
        padding-bottom: 25px;
    }
    .roster_box p{
        font-size: 15px;
        color: #777;
        margin-bottom: 0;
    }
    .roster_box h3{
        font-size: 40px;
        color: black;
        height: 40%;
    }
    #ros_box_3 p{
        color: black;
    }
    #ros_box_3 h3{
        font-size: 60px;
        color:darkcyan;
    }
}
